// -------------colors-------------
$text-heading: #8b909a;
$black: #23272e;
$blue: #0f60ff;

// -------------mixins-------------
@mixin background-radius {
  background: #fff;
  border-radius: 16px;
}

p {
  color: $text-heading;
}

h6 {
  font-size: 18px !important;
  font-weight: 600;
}

.shipping-info-section {
  @include background-radius;

  .shipping-inner {
    padding: 25px 35px 0px;

    .shipping-info-block {
      .info-content-wrapper {
        display: flex;
        align-items: center;

        .info-content-item {
          width: 33.33%;

          &:nth-of-type(1) {
            display: flex;
            align-items: center;

            .user-details {
              padding-left: 15px;

              p {
                font-size: 15px;
              }
            }
          }

          &:nth-of-type(2) {
            padding: 0px 30px 30px 30px;
            border-inline: 1px solid #dbdade;

            .info-title {
              padding-bottom: 25px;

              p {
                font-weight: 500;
              }
            }

            .info-details {
              .info-details-content {
                display: flex;

                p {
                  color: $black;

                  &:nth-of-type(1) {
                    margin-bottom: 0;

                    width: 150px;
                    font-weight: bold;
                  }

                  &:nth-of-type(2) {
                    padding-left: 10px;
                    font-weight: 600;
                  }
                }

                &:not(:last-of-type) {
                  padding-bottom: 15px;
                }
              }
            }
          }

          &:nth-of-type(3) {
            padding: 0px 30px 30px 30px;

            .shipping-title {
              padding-bottom: 25px;

              p {
                &:nth-of-type(2) {
                  color: $black;
                }
              }
            }

            .total-order-wrapper {
              display: flex;

              .order-item {
                h4 {
                  padding-bottom: 10px;
                }

                &:nth-of-type(2) {
                  padding-inline: 60px;
                }
              }
            }
          }
        }
      }
    }

    .nav-tabs-block {
      .nav-tabs-block-wrapper {
        display: flex;
        align-items: center;

        .nav-tabs-block-item {
          cursor: pointer;

          p {
            padding: 15px 25px;
            font-size: 15px;
          }

          &:nth-of-type(1) {
            border-bottom: 2px solid $blue;

            p {
              color: $blue;
            }
          }
        }
      }
    }
  }
}

// -----------------------RESPONSIVE------------------------
@media all and (max-width: 1399px) {
  .shipping-info-section {
    .shipping-inner {
      padding: 20px 30px 0px;

      .nav-tabs-block {
        .nav-tabs-block-wrapper {
          .nav-tabs-block-item {
            p {
              padding: 10px 20px;
              font-size: 14px;
            }
          }
        }
      }

      .shipping-info-block {
        .info-content-wrapper {
          .info-content-item {
            &:nth-of-type(1) {
              .user-details {
                h6 {
                  font-size: 17px !important;
                }
                p {
                  font-size: 13px;
                }
              }
            }

            &:nth-of-type(2) {
              padding: 0px 25px 25px 25px;

              .info-title {
                padding-bottom: 20px;
              }
            }

            &:nth-of-type(3) {
              padding: 0px 25px 25px 25px;

              .total-order-wrapper {
                .order-item {
                  h4 {
                    font-size: 22px;
                  }

                  &:nth-of-type(2) {
                    padding-inline: 50px;
                  }
                }
              }

              .shipping-title {
                padding-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1199px) {
  .shipping-info-section {
    .shipping-inner {
      padding: 15px 25px 0px;

      .shipping-info-block {
        .info-content-wrapper {
          .info-content-item {
            &:nth-of-type(1) {
              .user-img {
                img {
                  width: 65px;
                  aspect-ratio: 1/1;
                }
              }

              .user-details {
                p {
                  font-size: 12px;
                }
              }
            }

            &:nth-of-type(2) {
              padding: 0px 20px 20px 20px;

              .info-details {
                .info-details-content {
                  p {
                    &:nth-of-type(1) {
                      width: 100px;
                    }
                  }
                }
              }
            }

            &:nth-of-type(3) {
              padding: 0px 20px 20px 20px;
              .shipping-title {
                padding-bottom: 12px;

                p {
                  margin-bottom: 8px;
                }
              }

              .total-order-wrapper {
                .order-item {
                  h4 {
                    font-size: 20px;
                  }

                  &:nth-of-type(2) {
                    padding-inline: 40px;
                  }
                }
              }
            }
          }
        }
      }

      .nav-tabs-block {
        .nav-tabs-block-wrapper {
          .nav-tabs-block-item {
            p {
              padding: 8px 16px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  p {
    font-size: 11px !important;
  }

  .shipping-info-section {
    .shipping-inner {
      padding: 20px 20px 0px;

      .shipping-info-block {
        .info-content-wrapper {
          flex-wrap: wrap;
          justify-content: space-between;

          .info-content-item {
            &:nth-of-type(1) {
              width: 35%;
              .user-img {
                img {
                  width: 60px;
                }
              }

              .user-details {
                h6 {
                  font-size: 16px !important;
                }

                p {
                  font-size: 11px;
                }
              }
            }

            &:nth-of-type(2) {
              width: 50%;
              border-right: 0;

              .info-title {
                padding-bottom: 15px;
              }

              .info-details {
                .info-details-content {
                  &:not(:last-of-type) {
                    padding-bottom: 10px;
                  }
                }
              }
            }

            &:nth-of-type(3) {
              width: 100%;
              display: flex;
              padding: 15px 0px 0px;
              border-block: 1px solid #dbdade;

              .shipping-title,
              .total-order-wrapper {
                width: 50%;

                .order-item {
                  h4 {
                    font-size: 18px;
                    padding-bottom: 5px;
                  }
                }
              }
            }
          }
        }
      }

      .nav-tabs-block {
        .nav-tabs-block-wrapper {
          .nav-tabs-block-item {
            p {
              padding: 12px 14px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
