// -------------colors-------------
$blue: #0f60ff;
$text-heading: #8b909a;
$black: #23272e;
$green: #28c76f;
$red: #ea5455;
$border-line: #dbdade;

// -------------mixins-------------
@mixin background-radius {
  background: #fff;
  border-radius: 16px;
}

p {
  color: $text-heading;
}

h6 {
  font-size: 18px !important;
  font-weight: 600;
}

.sales-costs-section {
  .sales-costs-wrapper {
    display: flex;
    align-items: center;
    gap: 3%;

    .total-sales-costs-block {
      @include background-radius;

      width: 32%;

      .inner {
        padding: 35px 25px;

        .sales-wrapper {
          display: flex;
          align-items: center;

          .sales-img {
            padding: 35px;
            border-right: 1px solid $border-line;
          }

          .sales-info {
            padding-inline: 35px;

            .title {
              padding-bottom: 30px;

              p {
                padding-top: 5px;
              }
            }

            .price {
              h3 {
                padding-bottom: 15px;
              }

              p {
                span {
                  font-weight: 600;
                  color: $green;
                  padding: 0 10px 0 0px;
                }
              }
            }
          }
        }
      }
    }

    .total-profit-block {
      @include background-radius;
      padding-inline: 15px;
      width: 20%;

      .inner {
        padding: 35px 25px;

        .total-profit-title {
          display: flex;

          .profit-title {
            padding-left: 25px;
          }
        }

        .profit-amount {
          padding-top: 32px;

          h3 {
            padding-bottom: 15px;
          }

          p {
            span {
              font-weight: 600;
              color: $green;
              padding: 0 10px 0 0px;
            }
          }
        }
      }
    }

    .progress-percentage-block {
      @include background-radius;
      width: 40%;

      .inner {
        padding: 35px 25px;

        .country-progress-wrapper {
          display: flex;
          flex-direction: column;

          .country-item {
            display: flex;
            align-items: center;

            .country-img {
              padding-right: 15px;
              min-width: 40px;
            }

            .country-name {
              flex: 1;
              padding-right: 15px;
              min-width: 100px;

              h6 {
                font-size: 15px !important;
              }
            }

            .progress-bar {
              flex: 3;
              padding-right: 15px;

              progress {
                width: 100%;
              }
            }

            .inc-dec {
              min-width: 70px;
              text-align: right;

              p {
                display: flex;
                align-items: center;
                color: $green;
              }
            }

            &:nth-of-type(1) {
              .inc-dec {
                p {
                  color: $red;
                }
              }
            }

            &:not(:last-of-type) {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

// -----------------------RESPONSIVE------------------------
@media all and (max-width: 1600px) {
  .sales-costs-section {
    .sales-costs-wrapper {
      gap: 2%;

      .total-sales-costs-block {
        .inner {
          padding: 25px 20px;

          .sales-wrapper {
            .sales-img {
              padding: 20px;
            }

            .sales-info {
              padding-inline: 20px;

              .price {
                h3 {
                  font-size: 28px;
                }
              }
            }
          }
        }
      }

      .total-profit-block {
        .inner {
          padding: 25px 20px;

          .profit-amount {
            padding-top: 22px;

            h3 {
              font-size: 28px;
            }
          }
        }
      }

      .progress-percentage-block {
        .inner {
          padding: 25px 20px;
          .country-progress-wrapper {
            .country-item {
              &:not(:last-of-type) {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1399px) {
  .sales-costs-section {
    .sales-costs-wrapper {
      gap: 2%;

      .total-sales-costs-block {
        .inner {
          padding: 20px 15px;

          .sales-wrapper {
            .sales-info {
              .title {
                h6 {
                  font-size: 17px !important;
                }
              }
            }
          }
        }
      }

      .total-profit-block {
        .inner {
          padding: 20px 15px;
        }
      }

      .progress-percentage-block {
        .inner {
          padding: 20px 15px;

          .country-progress-wrapper {
            .country-item {
              .country-img {
                padding-right: 10px;
                min-width: 30px;
              }

              .country-name {
                padding-right: 10px;
                min-width: 90px;
              }

              .progress-bar {
                padding-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1199px) {
  .sales-costs-section {
    .sales-costs-wrapper {
      .total-sales-costs-block {
        .inner {
          padding: 13px 10px;

          .sales-wrapper {
            .sales-img {
              padding: 15px;

              img {
                width: 65px;
                aspect-ratio: 1/1;
              }
            }

            .sales-info {
              padding-inline: 15px;

              .title {
                padding-bottom: 18px;

                h6 {
                  font-size: 15px !important;
                }
              }

              .price {
                h3 {
                  font-size: 23px;
                  padding-bottom: 7px;
                }
              }
            }
          }
        }
      }

      .total-profit-block {
        padding-inline: 10px;

        .inner {
          padding: 15px 10px;

          .total-profit-title {
            .profit-title {
              h6 {
                font-size: 15px !important;
              }
            }
          }

          .profit-amount {
            h3 {
              font-size: 23px;
            }
          }
        }
      }

      .progress-percentage-block {
        .inner {
          padding: 15px 10px;

          .country-progress-wrapper {
            .country-item {
              .country-img {
                padding-right: 8px;
                min-width: 30px;

                img {
                  width: 30px;
                  aspect-ratio: 1/1;
                }
              }

              .country-name {
                padding-right: 8px;
                h6 {
                  font-size: 14px !important;
                }
              }

              .progress-bar {
                padding-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  .sales-costs-section {
    .sales-costs-wrapper {
      flex-wrap: wrap;

      .total-sales-costs-block {
        width: 50%;

        .inner {
          .sales-wrapper {
            .sales-img {
              img {
                width: 55px;
              }
            }

            .sales-info {
              .price {
                h3 {
                  font-size: 21px;
                }
              }
            }
          }
        }
      }

      .total-profit-block {
        width: 40%;
        .inner {
          .total-profit-title {
            .profit-logo {
              img {
                width: 30px;
                aspect-ratio: 1 / 1;
              }
            }
          }

          .profit-amount {
            padding-top: 20px;
            h3 {
              font-size: 21px;
              padding-bottom: 4px;
            }
          }
        }
      }

      .progress-percentage-block {
        width: 80%;
        margin-top: 10px;

        .inner {
          padding: 15px 20px;
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .sales-costs-section {
    .sales-costs-wrapper {
      .total-sales-costs-block {
        width: 100%;
      }

      .total-profit-block {
        width: 100%;
        margin-top: 10px;
      }

      .progress-percentage-block {
        width: 100%;

        .inner {
          padding: 10px;

          .country-progress-wrapper {
            .country-item {
              .country-name {
                min-width: 74px;
              }

              .country-img {
                img {
                  width: 25px;
                }
              }

              .inc-dec {
                min-width: 60px;
              }
            }
          }
        }
      }
    }
  }
}
