// -------------GLOBAL Declarations-------------
// ---------Global Declarations---------
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 13px;
  margin-bottom: 18px;
  margin-top: 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

// -------------colors-------------
$blue: #0f60ff;
$green: #28c76f;
$purple: #7367f0;
$black: #23272e;
$red: #ea5455;
$grey: #f3f4f8;
$text-heading: #8b909a;
$content-back: #f5f5f5;

// --------------------------<Home/> Component------------------------
.main-container {
  // height: 100vh;

  .main-content-wrapper {
    display: flex;
    // height: 100%;

    .left-content-section {
      width: 15%;
      padding: 1.25rem;
    }

    .right-content-section {
      width: 85%;
      background: $content-back;
    }
  }
}

// --------------------------<Error404/> Component------------------------

.error-message-content {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fdf9f9;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// --------------------------<Dashboard/> Component------------------------

select {
  padding: 10px 15px;
  color: $text-heading;
  font-size: 15px;
  border-radius: 6px;
  background: #fff;
  border: none;
  outline: none;
  letter-spacing: 1.43px;
  font-weight: 500;
}

.dashboard-section {
  .inner {
    padding: 10px 30px;

    .header-container {
      margin-bottom: 10px;
    }

    .sales-costs-container {
      margin-bottom: 20px;
    }

    .shipping-container {
      margin-bottom: 20px;
    }

    .filter-container {
      margin-bottom: 20px;

      .filter-items-section {
        .filter-item-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .filter-item {
            &:nth-of-type(1) {
              .subfilter-item-wrapper {
                display: flex;
                align-items: center;
                .subfilter-item {
                  &:nth-of-type(2) {
                    padding-left: 20px;

                    .group {
                      position: relative;
                      display: flex;
                      align-items: center;

                      .input {
                        padding: 10px 15px;
                        border: 0;
                        border-radius: 6px;
                        background: #fff;
                        color: $text-heading;
                        outline: none;
                        font-size: 15px;
                        letter-spacing: 1.43px;
                        z-index: 0;
                      }

                      .search-icon {
                        position: absolute;
                        right: 12%;
                        color: $text-heading;
                        pointer-events: none;
                        z-index: 1;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .data-table-container {
      margin-bottom: 20px;
    }
  }
}
